In [1]:
import pandas as pd
import os
import pandas_profiling as pp

In [2]:
directory = os.getcwd()
filename = 'safety-SanFrancisco.parquet'

In [3]:
df = pd.read_parquet(directory+'/'+filename)

In [4]:
df.head(2)

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
0,1,Safety,911_Fire,2018-10-02 11:54:01,Potentially Life-Threatening,Medical Incident,None,ELM ST/FRANKLIN ST,37.781286,-122.422187,None,
1,2,Safety,311_All,2018-07-08 15:00:27,Street and Sidewalk Cleaning,Bulky Items,Closed,"1536 SACRAMENTO ST, SAN FRANCISCO, CA, 94109",37.791887,-122.418188,Mobile/Open311,

In [8]:
df.iloc[56:58,:]

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
56,124,Safety,911_Fire,2018-11-27 20:27:07,Potentially Life-Threatening,Medical Incident,None,2100 Block of HARRISON ST,37.763486,-122.412882,None,
57,127,Safety,311_All,2019-02-13 18:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"556 5TH AVE, SAN FRANCISCO, CA, 94118",37.778136,-122.462724,Web,

In [10]:
df["dateTime"]= pd.to_datetime(df["dateTime"])

In [18]:
for col in df.columns.values:
    print(col+ ': ' + str(len(df[col].unique())))

requestId: 1185499
dataType: 1
dataSubtype: 2
dateTime: 2613287
category: 96
subcategory: 639
status: 3
address: 226725
latitude: 1206063
longitude: 1159108
source: 9
extendedProperties: 1

In [19]:
df.drop(columns=['dataType','extendedProperties'], axis=1, inplace=True)

In [21]:
numeric_col = ['requestId','dateTime','latitude','longitude']
strings = ['dataSubtype', 'category','subcategory', 'status', 'address','source']

In [22]:
df.isnull().sum()

requestId            0
dataSubtype          0
dateTime             0
category          4933
subcategory          0
status         1405089
address              3
latitude             0
longitude            0
source         1405089
dtype: int64

In [24]:
df.groupby(['dataSubtype']).count()

,requestId,dateTime,category,subcategory,status,address,latitude,longitude,source
dataSubtype,,,,,,,,,
311_All,2553800,2553800,2553800,2553800,2553800,2553797,2553800,2553800,2553800
911_Fire,1405089,1405089,1400156,1405089,0,1405089,1405089,1405089,0

In [25]:
df.source.unique()

array([None, 'Mobile/Open311', 'Phone', 'Web', 'Integrated Agency',
       'Other Department', 'Twitter', 'Email', 'Mail'], dtype=object)

In [26]:
df.status.unique()

array([None, 'Closed', 'Open'], dtype=object)

In [27]:
#assume all 911 calls are via phone and closed due to visitation (if required)
df.fillna({'source':'Phone', 'status':'Closed'}, inplace=True)

In [33]:
print(4936/(len(df)+4936))

0.001246814447184551

In [30]:
df.isnull().sum()

requestId         0
dataSubtype       0
dateTime          0
category       4933
subcategory       0
status            0
address           3
latitude          0
longitude         0
source            0
dtype: int64

In [31]:
df.dropna(inplace=True)

In [32]:
df.isnull().sum()

requestId      0
dataSubtype    0
dateTime       0
category       0
subcategory    0
status         0
address        0
latitude       0
longitude      0
source         0
dtype: int64

In [34]:
df["dateTime"]= pd.to_datetime(df["dateTime"])

In [35]:
non_numeric = [ 'dataSubtype','category','subcategory','status','source']

In [36]:
for cat in non_numeric:
    print('Category: '+cat)
    print(df[cat].value_counts())

Category: dataSubtype
311_All     2553797
911_Fire    1400156
Name: dataSubtype, dtype: int64
Category: category
Street and Sidewalk Cleaning               965967
Potentially Life-Threatening               676297
Non Life-threatening                       349634
Alarm                                      326893
Graffiti                                   296927
                                            ...
General Request - STATUS OF WOMEN               6
General Request - LANGUAGE SERVICES             5
General Request - WAR MEMORIAL                  5
General Request - GRANTS FOR THE ARTS           1
General Request - CONVENTION FACILITIES         1
Name: category, Length: 95, dtype: int64
Category: subcategory
Medical Incident                                                                 962807
Bulky Items                                                                      400964
General Cleaning                                                                 305869
Encampment Reports                                                               224565
Alarms                                                                           159632
                                                                                  ...
Construction Zone Tow-away Permits for SFDPW                                          1
Construction Zone Tow-away Permits for SFMTA Construction Management Division         1
Construction Zone Tow-away Permits for Tenderloin Housing Clinic                      1
Construction Zone Tow-away Permits for Tri-North Builder                              1
Noise Report                                                                          1
Name: subcategory, Length: 636, dtype: int64
Category: status
Closed    3924139
Open        29814
Name: status, dtype: int64
Category: source
Phone                2173634
Mobile/Open311       1339647
Web                   353785
Integrated Agency      71120
Twitter                12549
Other Department        3207
Email                     10
Mail                       1
Name: source, dtype: int64

In [38]:
for cat in non_numeric:
    df[cat] = df[cat].astype('category')

In [39]:
df.head()
#df.groupby(['dataSubtype', 'source']).count()

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source
0,1,911_Fire,2018-10-02 11:54:01,Potentially Life-Threatening,Medical Incident,Closed,ELM ST/FRANKLIN ST,37.781286,-122.422187,Phone
1,2,311_All,2018-07-08 15:00:27,Street and Sidewalk Cleaning,Bulky Items,Closed,"1536 SACRAMENTO ST, SAN FRANCISCO, CA, 94109",37.791887,-122.418188,Mobile/Open311
2,3,311_All,2016-06-28 13:12:28,General Request - COUNTY CLERK,customer_callback,Closed,Not associated with a specific address,0.000000,0.000000,Phone
3,7,311_All,2017-03-03 09:34:49,Temporary Sign Request,Temporary Sign Request for Other_Event_Type,Closed,"2190 NORTH POINT ST, SAN FRANCISCO, CA, 94123",37.802853,-122.443245,Phone
4,10,911_Fire,2016-10-25 18:33:20,Potentially Life-Threatening,Medical Incident,Closed,200 Block of DALEWOOD WAY,37.737953,-122.456498,Phone


-     choose a date randomly and review the types of events that occurred at this date to get a better feeling for the day to day work of city services.
-     pick an address in the data and review its history of safety events.

In [40]:
df[df.address == '600 Block of JONES ST']

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source
12732,30733,911_Fire,2019-12-16 11:35:19,Alarm,Structure Fire,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone
20328,49280,911_Fire,2016-06-21 06:40:52,Potentially Life-Threatening,Medical Incident,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone
43284,104556,911_Fire,2017-09-10 23:26:06,Alarm,Fuel Spill,Closed,600 Block of JONES ST,37.787048,-122.413296,Phone
71723,174140,911_Fire,2019-10-16 23:14:02,Potentially Life-Threatening,Medical Incident,Closed,600 Block of JONES ST,37.787048,-122.413296,Phone
74026,179666,911_Fire,2020-05-08 01:37:08,Alarm,Structure Fire,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone
...,...,...,...,...,...,...,...,...,...,...
3943804,1166192,911_Fire,2017-01-17 23:28:36,Non Life-threatening,Medical Incident,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone
3943835,1166272,911_Fire,2016-02-21 17:38:51,Non Life-threatening,Medical Incident,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone
3950567,1182766,911_Fire,2016-02-13 23:28:10,Potentially Life-Threatening,Medical Incident,Closed,600 Block of JONES ST,37.787048,-122.413296,Phone
3953356,1189714,911_Fire,2016-05-22 00:10:37,Alarm,Elevator / Escalator Rescue,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone
3958503,1202187,911_Fire,2019-12-20 08:37:18,Alarm,Structure Fire,Closed,600 Block of JONES ST,37.787065,-122.413160,Phone

In [6]:
len(df)

3958889

In [7]:
df.drop_duplicates(keep = 'first', inplace = True)

In [8]:
len(df)

3958888

In [10]:
df.to_parquet('cleaned_safety-SanFrancisco.parquet', compression='snappy')